* {
    margin: 0px;
    padding: 0px;
}

.headDiv {
    height: 60px;
    width: 100%;
}

.logo {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 63px;
    margin-left: 1%;
    color: #000000;
}

.signupDiv {
    width: 85px;
    height: 35px;
    margin-left: 1.5%;
    margin-top: 13px;
    background: #C4C4C4;
    border-radius: 38px;
    align-items: center;

}

.signup {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    line-height: 33px;
    margin-left: 20%;
    color: #000000;
    cursor: pointer;
    float: right;
    display: flex;
}